<div class="text-center">
  <div class="page-header">
    <h1>Attività di collaborazione a tempo parziale</h1>
  </div>

  <%= link_to "Accedi", auth_shibboleth_callback_path, class: 'btn btn-primary btn-lg' %>
</div>

