@import "variables";

// donatini boh bootstrap
span.checkbox {
  display: block;
  input {
    display: inline;
  }
}
tr.profile_done {
  @extend .active;
}
tr.profile_resign {
  text-decoration: line-through;
}
tr.profile_started {
  @extend .text-success;
}

.bigbuttons {
  form {
    display: inline;
  }
  input {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
    margin: 20px;
    padding: 30px;
  }
  text-align: center;
  margin: 30px;
}

ul.punches {
  @extend .list-group;
  li {
    @extend .list-group-item;
  }
}

input.hour_and_minute {
  width: 4em;
}

